/* You can add global styles to this file, and also import other style files */
a {
  border-radius: 0.5rem;
}

a.active {
  background-color: #dee2e6;
  font-weight: 500;
}

a.nav-link:hover {
  background-color: #dee2e6;
}

.card-footer {
  background-color: unset;
  border-top: unset;
}

.profile-avatar {
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &.large { width: 2.5rem; height: 2.5rem; font-size: 1.125rem; font-weight: 500; }
  &.medium { width: 2rem; height: 2rem; font-size: 1rem; }
  &.small { width: 1.5rem; height: 1.5rem; font-size: 0.875rem; }

  &.me {
    background-color: aquamarine;
  }

  &.another {
    background-color: #8E8CD8;
  }
}


button.btn.dropdown-toggle::after{
  display: none;
}

.link-text {
  color: #007bff;
}

.outline-0 {
  outline: 0 !important;
}

.card-footer {
  & button.btn.btn-light {
    border-color: transparent !important;
    background-color: transparent;

    &:hover {
      border-color: #e9ecef !important;
    }
  }
}

button.btn.btn-link {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

hr {
  margin: 0.25rem 0;
}
